.Cash{
    margin-top: 15px;
    border: 1px solid black;;
    border-radius: 10px;
    background-color: white;
    height: auto;
    background-color: rgb(203, 232, 243);
    padding: 10px;
}
.infoCash{
    padding: 10px;
    font-size: 30px;
}
.inputsCash{
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.dynamics{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.addCash{
    width: 18px;
    border-radius: 40%;
    border: 1px solid black;
    background-color: aqua;
}

.addCash:active {
    background-color: rgb(3, 135, 145);
    box-shadow: -5px -5px 5px -5px rgb(3, 135, 145) inset;
}